::first-line{
letter-spacing: 4px;
word-spacing: 4px;

}

#entete-de-page {
    padding: 5px;
    height: 100px;
    background-color: pink;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}


h1 {
color: black;
font-size: larger;
text-align: center;
}

h4{
font-size: large;
font-style: normal;
background-color: maroon;
}

h5{
    font-size: large;
    font-style: normal;
    background-color: rgb(211, 184, 125);
}

h6{
    font-size: large;
    font-style: normal;
    background-color: rgb(125, 194, 211);
}

h2{
    font-size: large;
    font-style: normal;
    background-color: rgb(125, 194, 211);
}

#blue-bordered {
    border: 5px dashed black;
}


h2{
color: grey;
font-size: medium;
text-align: center;
}

.test {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    display: inline-block;
  }
  
  body{

background-color: rgb(221, 212, 126);

  }

  #video{
margin-left: 30%;
margin-right: 30%;

  }
